<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="icon" sizes="196x196" href="/images/favicon-196x196.png" />
  <link rel="icon" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="icon" sizes="16x16" href="/images/favicon-16x16.png" />
  <link rel="apple-touch-icon" href="/images/favicon-196x196.png" />
  <link rel="mask-icon" href="/images/icon.svg" color="blue" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="theme-color" content="#000000" />
  <meta property="fb:app_id" content="123456789" />
  <meta name="htmx-config" content='{"withCredentials":true}'>
  <meta property="og:url" content="https://{{default_domain}}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{site_name}}" />
  <meta property="og:image" content="https://{{default_domain}}/images/card.png" />
  <meta property="og:description" content="Free & Open Source Modern URL Shortener" />
  <meta name="twitter:url" content="https://{{default_domain}}" />
  <meta name="twitter:title" content="{{site_name}}" />
  <meta name="twitter:description" content="Free & Open Source Modern URL Shortener" />
  <meta name="twitter:image" content="https://{{default_domain}}/images/card.png" />
  <meta name="description" content="{{site_name}} is a free and open source URL shortener with custom domains and stats." />
  <title>{{site_name}} | {{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
  {{#each custom_styles}}
    <link rel="stylesheet" href="/css/{{this}}">
  {{/each}}
  {{{block "stylesheets"}}}
</head>
<body>
  <div id="particles-js"></div>
  <div class="main-wrapper">
    {{{body}}}
  </div>

  {{{block "scripts"}}}
  <script src="/libs/htmx.min.js"></script>
  <script src="/libs/qrcode.min.js"></script>
  <script src="/scripts/main.js"></script>
  <script src="https://assets.hails.cc/particlejs/particles.js"></script>
  <script>
    var bgs = [
      'https://assets.hails.cc/i/bg1.jpg',
      'https://assets.hails.cc/i/bg2_transFlag.jpg',
      'https://assets.hails.cc/i/bg3_paintIt.jpg'
    ];
    document.body.style.backgroundImage =
      "url('" + bgs[Math.floor(Math.random() * bgs.length)] + "')";
    particlesJS("particles-js", {
      particles: {
        number: { value: 91, density: { enable: true, value_area: 800 } },
        color: { value: "#ffffff" },
        shape: { type: "polygon", stroke: { width: 0, color: "#000000" }, polygon: { nb_sides: 5 } },
        opacity: { value: 0.83, random: true, anim: { enable: true, speed: 1, opacity_min: 0, sync: false } },
        size: { value: 2, random: true, anim: { enable: false, speed: 4, size_min: 0.3, sync: false } },
        line_linked: { enable: false, distance: 112, color: "#8e8e8e", opacity: 0.34, width: 1 },
        move: { enable: true, speed: 1, direction: "none", random: true, straight: false,
                out_mode: "out", bounce: false, attract: { enable: true, rotateX: 600, rotateY: 600 } }
      },
      interactivity: {
        detect_on: "window",
        events: { onhover: { enable: true, mode: "repulse" }, onclick: { enable: true, mode: "push" }, resize: true },
        modes: { repulse: { distance: 97, duration: 0.4 }, push: { particles_nb: 4 } }
      },
      retina_detect: true
    });
  </script>
</body>
</html>
